<div class="container-fluid">
<app-headings
  [icon]= "icon"
  [sectionHeading]="sectionHeading">
</app-headings>

<div class="mb-0">
  <div *ngFor="let qualification of qualifications" class="row">
    <div class="col-8">
      <h6>{{ qualification.qualification }}</h6>
      <p class="text-muted small" style="margin-top: -10px; color: #642115;">{{ qualification.institution }}</p>
    </div>
    <div class="col-md-4" >
      <h6 class="small">{{ qualification.date }}</h6>
    </div>
  </div>
</div>
</div>
